<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs") %>
<body>
<div class="content">
    <h1>Rehabilitación</h1>

    <%- include("../_animal_navbar.ejs") %>
    <base href="/animals/<%= req.params.animal_id %>/events/">
    
        <a class="button ml-auto" href="new">Nueva rehabilitación</a>
        <div class="spacer"></div>

        <% if(events.length > 0) { %>
            <table>
                <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Nota</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <% for (const event of events) { %>
                    <tr>
                        <td><%= event.description %></td>
                        <td class="date-table-cell"><%= event.date.toText() %></td>
                        <td><%= event.note %></td>
                        <td>
                            <a class="button button-secondary" href="<%= event.id %>/delete">Eliminar</a>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>

        <div class="spacer"></div>
        <details>
            <summary>Vacunas que debería tener un gato</summary>
            <% for(const vaccine of catVaccines) { %>
                <p><%= vaccine %></p>
            <% } %>
        </details>

        <div class="spacer"></div>
        <details>
            <summary>Vacunas que debería tener un perro</summary>
            <% for(const vaccine of dogVaccines) { %>
                <p><%= vaccine %></p>
            <% } %>
        </details>

        <% } else { %>
            <p>¡No hay rehabilitaciones!</p>
        <% } %>
    </base>
</div>
</body>
</html>