<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs", {title: "Eventos"}) %>
<body>
    <% const {events} = locals; %>
    <% const {animal_id} = req?.params; %>

    <a href="/animals/<%= animal_id %>/events/new">Nuevo evento</a>

    <% if(events?.length > 0) { %>

        <table>

            <thead>
            <tr>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Acción</th>
            </tr>
            </thead>

            <tbody>
            <% for(event of events) { %>
                <tr>
                    <td><%= event?.description %></td>
                    <td><%= event?.date?.toText() %></td>
                    <td>
                        <a href="/animals/<%= animal_id %>/events/<%= event.id %>/delete">Borrar</a>
                    </td>
                </tr>
            <% } %>
            </tbody>

        </table>
        

    <% } else { %>

        <p>No hay eventos!</p>

    <% } %>

        <%# TODO: Accordion with dog and cat vacciones %> 

    <details>
        <summary>Vacunas que debería tener un gato</summary>
        <p>Rabia</p>
        <p>Leucemia</p>
      </details>

      <details>
        <summary>Vacunas que debería tener un perro</summary>
        <p>Ref multiple</p>
        <p>Ref puppy</p>
      </details>

</body>
</html>