<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs", {title: "Eventos"}) %>
<body>
<base href="/animals/<%= req.params.animal_id %>/events/">

    <button><a href="new">Nuevo evento</a></button>
    

    <% if(events.length > 0) { %>

        <table>
            <thead>
            <tr>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Nota</th>
                <th class="delete">Acción</th>
            </tr>
            </thead>
            <tbody>
            <% for(const event of events) { %>
                <tr>
                    <td><%= event.description %></td>
                    <td><%= event.date.toText() %></td>
                    <td><%= event.note %></td>
                    <td class="delete">
                        <a href="<%= event.id %>/delete">Borrar</a>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
        
    <% } else { %>

        <p>¡No hay eventos!</p>

    <% } %>

    <details class="delete">
        <summary>Vacunas que debería tener un gato</summary>
        <% for(const vaccine of catVaccines) { %>
            <p><%= vaccine %></p>
            <% } %>
    </details>
        
    <details class="delete">
        <summary>Vacunas que debería tener un perro</summary>
        <% for(const vaccine of dogVaccines) { %>
            <p><%= vaccine %></p>
        <% } %>
    </details>

</base>
    <%- include("../_footer.ejs") %>
</body>
</html>