<form action="<%= action %>" method="post">

    <%- include("../_date_field.ejs", {model: home, pathName: "start_date"}) %>
    <%- include("../_date_field.ejs", {model: home, pathName: "end_date"}) %>
    <%- include("../_text_input.ejs", {model: home, pathName: "keeper_name"}) %>
    <%- include("../_text_input.ejs", {model: home, pathName: "keeper_phone"}) %>
    <%- include("../_text_input.ejs", {model: home, pathName: "keeper_contact"}) %>
    <%- include("../_address_field.ejs", {model: home.address}) %>
    <%- include("../_text_area.ejs", {model: home, pathName: "note"}) %>
    <input type="submit" value="Enviar">

</form>