<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs") %>
<body>
<div class="content">
    <h1>Hogares</h1>

    <%- include("../_animal_navbar.ejs") %>
    <base href="/animals/<%= req.params.animal_id %>/homes/">
        
        <a class="button" href="new">Nuevo hogar</a></button>
        <div class="spacer"></div>

        <% if(homes?.length > 0) { %>
            <table>
                <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Inicio</th>
                    <th>Regreso</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <% for(const home of homes) { %>
                    <tr>
                        <td><%= home.type %></td>
                        <td><%= home.start_date.toText() %></td>
                        <td><%= home.end_date?.toText() %></td>
                        <td>
                            <a class="button" href="<%= home?.id %>">Detalles</a>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        <% } else { %>
            <p>¡No hay hogares!</p>
        <% } %>
    </base>
</div>
</body>
</html>