<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs", {title: "Hogares"}) %>
<body>
<base href="/animals/<%= req.params.animal_id %>/homes/">
    <button><a href="new">Nuevo hogar</a></button>

    <% if(homes?.length > 0) { %>

        <table>
            <thead>
            <tr>
                <th>Tipo</th>
                <th>Inicio</th>
                <th>Regreso</th>
                <th class="delete">Acción</th>
            </tr>
            </thead>
            <tbody>
            <% for(const home of homes) { %>
                <tr>
                    <td><%= home.type %></td>
                    <td style="white-space: nowrap;"><%= home.start_date.toText() %></td>
                    <td style="white-space: nowrap;"><%= home.end_date?.toText() %></td>
                    <td class="delete">
                        <a href="<%= home?.id %>">Detalles</a>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>

    <% } else { %>

        <p>!No hay hogares!</p>

    <% } %>
</base>
    <%- include("../_footer.ejs") %>
</body>
</html>