<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs", {title: "Hogares"}) %>
<body>
    <% const {homes} = locals; %>
    <% const {animal_id} = req?.params; %>

    <a href="/animals/<%= animal_id %>/homes/new">Nuevo hogar</a>

    <% if(homes?.length > 0) { %>

        <table>

            <thead>
            <tr>
                <th>Tipo</th>
                <th>Inicio</th>
                <th>Regreso</th>
                <th>Cuidado por</th>
                <th>Domicilio</th>
                <th>Acción</th>
            </tr>
            </thead>

            <tbody>
            <% for(const home of homes) { %>
                <tr>
                    <td><%= home?.type %></td>
                    <td style="white-space: nowrap;"><%= home?.start_date?.toText() %></td>
                    <td style="white-space: nowrap;"><%= home?.end_date?.toText() %></td>
                    <td><%= home?.keeper %></td>
                    <td><%= home?.address?.fullAddress %></td>
                    <td>
                        <a href="/animals/<%= animal_id %>/homes/<%= home?.id %>/delete">Borrar</a>
                    </td>
                </tr>
            <% } %>
            </tbody>

        </table>
        

    <% } else { %>

        <p>No hay hogares!</p>

    <% } %>

</body>
</html>