<form class="vertical-spaced" action="<%= action %>" method="post" enctype="multipart/form-data">
    
    <%- include("../_text_input.ejs", {model: animal, pathName: "petco_id"}) %>
    <%- include("../_text_input.ejs", {model: animal, pathName: "name"}) %>
    <%- include("../_text_input.ejs", {model: animal, pathName: "alias"}) %>
    <%- include("../_date_field.ejs", {model: animal, pathName: "birth_date"}) %>
    <%- include("../_dropdown.ejs", {model: animal, pathName: "species"}) %>
    <%- include("../_dropdown.ejs", {model: animal, pathName: "color"}) %>
    <%- include("../_dropdown.ejs", {model: animal, pathName: "sex"}) %>
    <%- include("../_dropdown.ejs", {model: animal, pathName: "status"}) %>
    <%- include("../_text_area.ejs", {model: animal, pathName: "particular_signs"}) %>

    <div class="input-container">
        <label for="photos">Añadir Fotos (&lt 1MB en total)</label>
        <input type="file" name="photos" multiple>
    </div>
    
    <input class="button" type="submit" value="Enviar">
</form>