<!DOCTYPE html>
<html lang="en">
    <%- include("../_header.ejs", {title: "Animales"}) %>
    
<body>

    <nav>
        <button>
            <a href="/animals/new">Nuevo</a>
        </button>

        <button>
            <a href="/animals/search">Buscar</a>
        </button>
    </nav>

    <main>
        

        <% if(animals.length > 0) { %>
            

            <% for(const animal of animals) {%>
                <div class="card">
                    <div class="card__Container">
                        <h2><%= animal.name %> 
                            <% if(animal.alias) {%>
                                (<%= animal.alias %>)
                            <% } %>
                        </h2>
                        
                        <% 
                            let src;
                            if(animal.photos.length > 0) {
                                src = animal.photos[0];
                            } else {
                                src = "images/default.webp";
                            }
                        %>
                        
                        <a href="/animals/<%= animal.id %>">
                            <img src="<%= src %>" alt="<%= animal.name %>" loading="lazy" style="width:100%;" />
                        </a>
                        
                        <%- include("../_text_label.ejs", {model: animal, pathName: "status"}) %>
                        <%- include("../_text_label.ejs", {model: animal, pathName: "particular_signs"}) %>
                        <button><a href="/animals/<%= animal.id %>">Detalles</a></button>
                    </div>
                </div>
                <div id="blankspace"></div>
                
            <% } %>
            

            <blockquote style="float: right">
                <div class="card">
                    <div class="card__Container">
                        <p>
                            Del <code><%= from %></code>
                            al <code><%= to %></code>
                            de un total de <code><%= total %></code>
                        </p>
                        <button>
                            <a id="page">Siguiente</a>
                        </button>
                    </div>
                </div>
            </blockquote>
            
            <script>
                const a = document.getElementById("page");
                const url = new URL(window.location.href);
                url.searchParams.set('page', "<%= page + 1 %>");

                a.setAttribute("href",  url.toString());
            </script>  




        <% } else { %>

            <p>No hay animales :(</p>

        <% } %>

    

    </main>

    <%- include("../_footer.ejs") %>

</body>
</html>

