<!DOCTYPE html>
<html lang="en">
    <%- include("../_header.ejs", {title: "Animales"}) %>
<body>

    <nav>
        <a href="/animals/new">Nuevo</a>
        <a href="/animals/search">Buscar</a>
    </nav>

    <main>

        <% if(animals.length > 0) { %>

            <% for(const animal of animals) {%>

                <h2><%= animal.name %> 
                    <% if(animal.alias) {%>
                        (<%= animal.alias %>)
                    <% } %>
                </h2>
                
                <% 
                    let src;
                    if(animal.photos.length > 0) {
                        src = animal.photos[0];
                    } else {
                        src = "images/default.webp";
                    }
                %>

                <img src="<%= src %>" alt="<%= animal.name %>" loading="lazy" style="aspect-ratio: 16/9; object-fit:cover; width:100%;" />
                
                <%- include("../_text_label.ejs", {model: animal, pathName: "status"}) %>
                <%- include("../_text_label.ejs", {model: animal, pathName: "particular_signs"}) %>
                
                <a href="/animals/<%= animal.id %>">Detalles</a>

            <% } %>

            <blockquote style="float: right">
                <p>
                    Del <code><%= from %></code>
                    al <code><%= to %></code>
                    de un total de <code><%= total %></code>
                </p>
                <a id="page">Siguiente</a>
            </blockquote>
            <script>
                const a = document.getElementById("page");
                const url = new URL(window.location.href);
                url.searchParams.set('page', "<%= page + 1 %>");

                a.setAttribute("href",  url.toString());
            </script>  

        <% } else { %>

            <p>No hay animales :(</p>

        <% } %>

    </main>
    <%- include("../_footer.ejs") %>
</body>
</html>

