<!DOCTYPE html>
<html lang="en">
    <%- include("../_header.ejs") %>
<body>
<div class="content">
    <h1>Animales</h1>
    <div class="spacer"></div>

    <% if(animals.length > 0) { %>
        <div class="image-grid">
            <% for(const animal of animals) {%>
                <div>
                    <h2><%= animal.name %> 
                        <% if(animal.alias) {%>
                            (<%= animal.alias %>)
                        <% } %>
                    </h2>
                    
                    <% 
                        let src;
                        if(animal.photos.length > 0) {
                            src = animal.photos[0];
                        } else {
                            src = "images/default.webp";
                        }
                    %>
                    
                    <img src="<%= src %>" alt="<%= animal.name %>" loading="lazy" />

                    <div class="image-grid-details">
                        <p><%= animal.status %></p>
                        <a class="button" href="/animals/<%= animal.id %>">Detalles</a>
                    </div>
                </div>
            <% } %>
        </div>

        <div class="spacer"></div>

        <div class="float-r">
            <p>
                Del <b><%= from %></b>
                al <b><%= to %></b>
                de un total de <b><%= total %></b>
            </p>
            <a id="page" class="button float-r">Siguiente</a>
        </div>
        
        <script>
            const a = document.getElementById("page");
            const url = new URL(window.location.href);
            url.searchParams.set('page', "<%= page + 1 %>");

            a.setAttribute("href",  url.toString());
        </script>  
    <% } else { %>
        <p>No hay animales :(</p>
    <% } %>
</div>
</body>
</html>

