
<!DOCTYPE html>
<html lang="en">
    <%- include("../_header.ejs", {title: "Animales"}) %>
<body>
    <h1>Animals</h1>

    <a href="/animals/new">Nuevo Animal</a>

    <main>
        <% const {animals=[]} = locals; %>
        <% for(animal of animals) {%>

            <h3><%= animal.name %> (<%= animal.alias %>)</h3>
            
            <img src=<%= animal.photos[0] %> style="aspect-ratio:1; object-fit:cover; width: 100%;" />
            
            <%- include("../_text_label.ejs", {title: "Estatus", value: animal.status}) %>

            <%- include("../_text_label.ejs", {title: "Señas Particulares", value: animal.particular_signs}) %>
            
            <a href="/animals/<%= animal.id %>"><button>Detalles</button></a>

        <% } %>
    </main>
</body>
</html>

