<!DOCTYPE html>
<html lang="en">
    <%- include("../_header.ejs") %>
<body>
<div class="content">
    <h1>Buscar</h1>
    <div class="spacer"></div>
    <form class="vertical-spaced" action="/animals" method="get">
        <details>
            <summary>General</summary>
            <div>
                <label for="name_or_alias">Nombre o Apodo</label>
                <input type="text" name="name_or_alias" id="name_or_alias" />
            </div>
            <%- include("../_text_input.ejs", {model: animal, pathName: "petco_id"}) %>
            <%- include("../_dropdown.ejs", {model: animal, pathName: "sex", asterisk: false}) %>
            <%- include("../_dropdown.ejs", {model: animal, pathName: "status", asterisk: false}) %>
            <%- include("../_dropdown.ejs", {model: animal, pathName: "species", asterisk: false}) %>
            <%- include("../_dropdown.ejs", {model: animal, pathName: "color", asterisk: false}) %>
        </details>

        <details>
            <summary>Rescate</summary>
            <%- include("../_date_range.ejs", {formName: "rescue.date"}) %>
            <%- include("../_dropdown.ejs", {model: rescue, pathName: "organization", formName: "rescue.organization[$eq]", asterisk: false}) %>
            <%- include("../_address_field.ejs", {model: rescue.address, formNameStyle: "dots", asterisk: false, prefix: "rescue"}) %>
        </details>

        <details>
            <summary>Rehabilitación</summary>
            <%- include("../_dropdown.ejs", {model: event, title: "Tiene", pathName: "description", formName: "events.description[$eq]", asterisk: false}) %>
            <%- include("../_dropdown.ejs", {model: event, title: "Le falta", pathName: "description", formName: "events.description[$ne]", asterisk: false}) %>
        </details>

        <input class="button" type="submit" value="Enviar">
    </form>
</div>
    <script src="/javascripts/address_script.js"></script>
</body>
</html>