<!DOCTYPE html>
<html lang="en">
    <%- include("../_header.ejs", {title: "Buscar Animal"}) %>
<body>
    <main>
    <form action="/animals" method="get">
        
    <div class="card">
        <div class="card__Container">
            <details>
                <summary>General</summary>
                <p>
                    <label for="name_or_alias">Nombre o Apodo</label><br>
                    <input type="text" name="name_or_alias" id="name_or_alias" />
                </p>
                <%- include("../_text_input.ejs", {model: animal, pathName: "petco_id"}) %>
                <%- include("../_dropdown.ejs", {model: animal, pathName: "sex", asterisk: false}) %>
                <%- include("../_dropdown.ejs", {model: animal, pathName: "status", asterisk: false}) %>
                <%- include("../_dropdown.ejs", {model: animal, pathName: "species", asterisk: false}) %>
                <%- include("../_dropdown.ejs", {model: animal, pathName: "color", asterisk: false}) %>
            </details>

            <details>
            <summary>Rescate</summary>
                <%- include("../_date_range.ejs", {formName: "rescue.date"}) %>
                <%- include("../_dropdown.ejs", {model: rescue, pathName: "organization", formName: "rescue.organization[$eq]", asterisk: false}) %>
                <%- include("../_address_field.ejs", {model: rescue.address, formNameStyle: "dots", asterisk: false, prefix: "rescue"}) %>
            </details>

            <details>
            <summary>Rehabilitación</summary>
                <%- include("../_dropdown.ejs", {model: event, title: "Tiene", pathName: "description", formName: "events.description[$eq]", asterisk: false}) %>
                <%- include("../_dropdown.ejs", {model: event, title: "Le falta", pathName: "description", formName: "events.description[$ne]", asterisk: false}) %>
            </details>

            <input type="submit" value="Enviar">
        </div>
    </div>
    
    </form>
    </main>
    <script src="/javascripts/address_script.js"></script>

    <%- include("../_footer.ejs") %>
</body>
</html>