<!DOCTYPE html>
<html lang="es">
    <div id="animalsTitle">
        <%- include("../_header.ejs", {title: "Animal"}) %>
    </div>
<body>
<main>
<base href="/animals/<%= req.params.id %>/">
    
    <nav>
        <button>        
            <a href="rescue/">Rescate</a>
        </button>

        <button>
            <a href="events/">Eventos</a>
        </button>

        <button>        
            <a href="appointments/">Citas</a>
        </button>

        <button>
            <a href="homes/">Hogares</a>
        </button>

    </nav>


    <div class="card">
        <div class="card__Container">

            <div id="animal-FontSize">
                <%- include("../_text_label.ejs", {model: animal, pathName: "petco_id"}) %>
                <%- include("../_text_label.ejs", {model: animal, pathName: "name"}) %>
                <%- include("../_text_label.ejs", {model: animal, pathName: "alias"}) %>
                <%- include("../_text_label.ejs", {model: animal, pathName: "species"}) %>
                <div id="split">
                    <p><code>Edad: </code><%= animal.age %></p>
                    <%- include("../_text_label.ejs", {model: animal, pathName: "color"}) %>
                    <%- include("../_text_label.ejs", {model: animal, pathName: "sex"}) %>
                    <%- include("../_text_label.ejs", {model: animal, pathName: "status"}) %>
                </div>

                <div id="particularSigns"><%- include("../_text_label.ejs", {model: animal, pathName: "particular_signs"}) %></div>
            
            </div>

            <div class="image-container">
                <div class="image-container__r">
                    <% animal.photos.map(url => { %>
                        <img src="<%= url %>" loading="lazy" style="width: 100%">
                    <% }); %>
                </div>
            </div>

        </div>
    </div>


    


    <div>
        <button><a href="edit/">Editar</a></button>
        <button><a href="delete/">Borrar</a></button>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <button><a class="fa fa-file-pdf-o" href="print/"> Imprimir</a></button>
    </div>

</base>
</main>

    <div id="animalsFooter">
        <%- include("../_footer.ejs") %>
    </div>

</body>
</html>