<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs") %>
<body>
<div class="content">
    <h1>Perfil</h1>
    <%- include("../_animal_navbar.ejs") %>
    
    <div class="vertical-spaced">
        <base href="/animals/<%= req.params.id %>/">
            <nav class="button-container">
                <a class="button ml-auto" href="edit/">Editar</a>
                <a class="button" href="print/"> Imprimir</a>
                <a class="button button-secondary" href="delete/">Borrar</a>
            </nav>
        </base>

        <%- include("../_text_label.ejs", {model: animal, pathName: "petco_id"}) %>
        <%- include("../_text_label.ejs", {model: animal, pathName: "name"}) %>
        <%- include("../_text_label.ejs", {model: animal, pathName: "alias"}) %>
        <%- include("../_text_label.ejs", {model: animal, pathName: "species"}) %>
        <p>
            <b>Edad</b><br>
            <span><%= animal.age %></span>
        </p>
        <%- include("../_text_label.ejs", {model: animal, pathName: "color"}) %>
        <%- include("../_text_label.ejs", {model: animal, pathName: "sex"}) %>
        <%- include("../_text_label.ejs", {model: animal, pathName: "status"}) %>
        <%- include("../_text_label.ejs", {model: animal, pathName: "particular_signs"}) %>
    </div>

    <div class="spacer"></div>
    
    <div class="image-grid">
        <% animal.photos.map(url => { %>
            <img src="<%= url %>">
        <% }); %>
    </div>
    
    <div class="spacer"></div>
</div>
</body>
</html>