<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs", {title: "Animal"}) %>
<body>
<base href="/animals/<%= req.params.id %>/">
    
    <nav>
        <a href="rescue/">Rescate</a>
        <a href="events/">Eventos</a>
        <a href="appointments/">Citas</a>
        <a href="homes/">Hogares</a>
    </nav>

    <%- include("../_text_label.ejs", {model: animal, pathName: "petco_id"}) %>
    <%- include("../_text_label.ejs", {model: animal, pathName: "name"}) %>
    <%- include("../_text_label.ejs", {model: animal, pathName: "alias"}) %>
    <%- include("../_text_label.ejs", {model: animal, pathName: "species"}) %>
    <p>
        <code>Edad</code>
        <%= animal.age %>
    </p>
    <%- include("../_text_label.ejs", {model: animal, pathName: "color"}) %>
    <%- include("../_text_label.ejs", {model: animal, pathName: "sex"}) %>
    <%- include("../_text_label.ejs", {model: animal, pathName: "status"}) %>
    <%- include("../_text_label.ejs", {model: animal, pathName: "particular_signs"}) %>

    <% animal.photos.map(url => { %>
        <main>
            <img src="<%= url %>" loading="lazy" style="width: 100%">
        </main>
    <% }); %>

    <div>
        <a href="edit/">Editar</a>
        <a href="delete/">Borrar</a>
    </div>

</base>
</body>
</html>