<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs", {title: "Animal"}) %>
<body>
<% const {req} = locals %>
<base href="/animals/<%= req.params.id %>/">
    
    <h1>Animal</h1>

    <nav>
        <a href="rescue/">Rescate</a>
        <a href="events/">Eventos</a>
        <a href="appointments/">Citas</a>
        <a href="adoptions/">Adopciones</a>
    </nav>

    <%- include("../_text_label.ejs", {title: "Nombre", value: animal.name}) %>

    <%- include("../_text_label.ejs", {title: "Apodo", value: animal.alias}) %>

    <%- include("../_text_label.ejs", {title: "Tipo", value: animal.type}) %>

    <%- include("../_text_label.ejs", {title: "Sexo", value: animal.sex}) %>

    <%- include("../_text_label.ejs", {title: "Estatus", value: animal.status}) %>

    <%- include("../_text_label.ejs", {title: "Señas Particulares", value: animal.particular_signs}) %>

    <% animal.photos?.map(url => { %>
        <main>
            <img src="<%= url %>" style="width: 100%">
        </main>
    <% }); %>

    <div>
        <a href="edit/"><button>Editar</button></a>
        <a href="delete/"><button>Borrar</button></a>
    </div>
</base>
</body>
</html>