<!DOCTYPE html>
<html lang="en">
    <%- include("../_header.ejs", {title: "Calendario"}) %>
<body>
    <% const {calendarList} = locals; %>


    <% if(calendarList?.length > 0) { %>

        <table>

            <thead>
            <tr>
                <th>Descripción</th>
                <th>De</th>
                <th>Fecha</th>
            </tr>
            </thead>

            <tbody>
            <% for(calendarItem of calendarList) { %>
                <% const {from: {name, id}} = calendarItem; %>
                <tr>
                    <td><%= calendarItem?.description %></td>
                    <td><a href="/animals/<%= id %>"><%= name %></a></td>
                    <td><%= calendarItem?.date?.toText() %></td>
                </tr>
            <% } %>
            </tbody>

        </table>
        

    <% } else { %>

        <p>No hay pendientes por ahora! :)</p>

    <% } %>

</body>
</html>

