<!DOCTYPE html>
<html lang="en">
    <%- include("../_header.ejs") %>
<body>
<div class="content">
    <h1>Calendario</h1>
    
    <% if (calendar.length > 0) { %>
        <form method="get" >
            <details>
                <summary>Filtrar</summary>
                <div class="vertical-spaced">
                    <%- include("../_date_range.ejs", {formName: "date", from: from, to: to}) %>
                    <input class="button" type="submit" value="Enviar">
                </div>
            </details>
        </form>

        
        <% for (const day of calendar) { %>
            <div class="spacer"></div>

            <p>
                <b class="date-title"><%= day.date %></b>
            </p>

            <p>
                <% for (const {description, animal: {id, name}} of day.items) { %>
                    <span>- <%= description %> de <a class="link" href="/animals/<%= id %>"><%= name %></a></li>
                <% } %>
            </p>
        <% } %>
    <% } else { %>
        <p>No se encontraron pendientes :)</p>
    <% } %>
</div>
</body>
</html>


