<!DOCTYPE html>
<html lang="en">
    <%- include("../_header.ejs", {title: "Calendario"}) %>
<body>
    <% const {calendar} = locals; %>

    <% if(calendar?.length > 0) { %>
        
        <% for(const day of calendar) { %>
            <%- include("../_text_label.ejs", {title: day.date }) %>
            <ul>
                <% for(const item of day?.items) { %>
                    <% const {name, id} = item.animal; %>
                    <li><%= item.description %> de <a href="/animals/<%= id %>"><%= name %></a></li>
                <% } %>
            </ul>
        <% } %>
        
    <% } else { %>

        <p>No hay pendientes por ahora! :)</p>

    <% } %>

</body>
</html>

