<!DOCTYPE html>
<html lang="en">
    <%- include("../_header.ejs") %>
<body>
<div class="content">
    <h1>Calendario</h1>
    
    <% if (calendar.length > 0) { %>
        <form class="vertical-spaced" method="get" >
            <details>
                <summary>Filtrar</summary>
                <%- include("../_date_range.ejs", {formName: "date", from: from, to: to}) %>
                <input class="button" type="submit" value="Enviar">
            </details>
        </form>
        
        <% for (const day of calendar) { %>
            <p>
                <b><%= day.date %></b>
            </p>

            <ul>
                <% for (const {description, animal: {id, name}} of day.items) { %>
                    <li><%= description %> de <a href="/animals/<%= id %>"><%= name %></a></li>
                <% } %>
            </ul>
        <% } %>
    <% } else { %>
        <p>No se encontraron pendientes :)</p>
    <% } %>
</div>
</body>
</html>


