<% 

let { model, title, pathName, formName, asterisk} = locals; 

if(formName === undefined) {
    formName = pathName;
}

if(asterisk === undefined) {
    asterisk = model.schema.path(pathName).options.hasOwnProperty("required");
}

if(title === undefined) {
    title = model.schema.path(pathName).options.title;
}

const value = model[pathName];

%>

<p>
    <label for="<%= pathName %>"><%= title %>
    
    <% if(asterisk) { %>
        *
    <% } %>
    
    </label><br>
    <input type="date" name="<%= formName %>" id="<%= pathName %>"
    
    <% if(value) { %>
        value="<%= value.toDateInputValue() %>"
    <% } %>
    
    />
</p>