<% const {title, name, value, asterisk=true} = locals %>

<p>
    <label for="<%= name %>"><%= title %>
        
        <% if(asterisk) { %>
            *
        <% } %>
    
    </label><br>
    <input type="date" id="<%= title %>" name="<%= name %>" value="<%= value?.toDateInputValue(); %>"/>
</p>