<% const {title, name, options=[], include_blank=false, value, asterisk=true} = locals %>

<p>
    <label for="<%= name %>"><%= title %>
    
        <% if(asterisk) { %>
            *
        <% } %>
    
    </label><br>
    <select name="<%= name %>" id="<%= title %>">

        <% if (include_blank) { %>
            <option value=""></option>
        <% } %>

        <%# Hacky stuff dont touch pls %>
        <% if(options && options[0] !== undefined) { %>
            <% for(const option of options) { %>
                <option value="<%= option %>" 
                    <% if (value == option) { %>
                        selected
                    <% } %> 
                >
                    <%= option %>
                </option>
            <% } %>
        <% } %>
        
    </select>
</p>