<% const {title, name, options=[], include_any=false, value} = locals %>

<p>
    <label for="<%= name %>"><%= title %></label><br>
    <select name="<%= name %>" id="<%= name %>" >

        <% if (include_any) { %>
            <option value="Any">Cualquiera</option>
        <% } %>

        <%# Hacky stuff dont touch pls %>
        <% if(options && options[0] !== undefined) { %>
            <% for(option of options) { %>
                <option value="<%= option %>" 
                    <% if (value == option) { %>
                        selected
                    <% } %> 
                >
                    <%= option %>
                </option>
            <% } %>
        <% } %>
        
    </select>
</p>