<% 

let { model, title, pathName, formName, asterisk} = locals; 

if(formName === undefined) {
    formName = pathName;
}

if(asterisk === undefined) {
    asterisk = model.schema.path(pathName).options.hasOwnProperty("required");
}

if(title === undefined) {
    title = model.schema.path(pathName).options.title;
}

options = new Set([...model.schema.path(pathName).enumValues]);

const value = model[pathName];
if(value) {
    options.add(value);
}

%>

<div class="input-container">
    <label for="<%= pathName %>">
        <%= title %> <% if(asterisk) { %> * <% } %>
    </label>

    <select name="<%= formName %>" id="<%= pathName %>">
        <% if (!asterisk) { %>
            <option value=""></option>
        <% } %>

        <% for(const option of options) { %>
            <option value="<%= option %>" 
                <% if (value == option) { %>
                    selected
                <% } %> 
            >
                <%= option %>
            </option>
        <% } %>
    </select>
</div>