<% const {title, name, value, asterisk=true} = locals %>

<p>
    <label for="<%= name %>"><%= title %>
    
        <% if(asterisk) { %>
            *
        <% } %>
    
    </label><br>
    <textarea name="<%= name %>" id="<%= title %>" cols="30" rows="4"><%- value %></textarea>
</p>