<% const {title, name, value, hasOkButton=false, asterisk=true} = locals %>

<p>
    <label for="<%= name %>"><%= title %>

        <% if(asterisk) { %>
            *
        <% } %>

    </label><br>
    <input type="text" id="<%= name %>" name="<%= name %>" value="<%= value %>" autocomplete="off" />

    <% if(hasOkButton) { %>
        <button type="button" onclick="fetchNeighborhoods()">Ok</button>
    <% } %>
</p>