<% 

let { model, title, pathName, formName, asterisk} = locals; 

if(formName === undefined) {
    formName = pathName;
}

if(asterisk === undefined) {
    asterisk = model.schema.path(pathName).options.hasOwnProperty("required");
}

if(title === undefined) {
    title = model.schema.path(pathName).options.title;
}

const value = model[pathName];

%>

<p>
    <label for="<%= pathName %>"><%= title %>
    
    <% if(asterisk) { %>
        *
    <% } %>
    
    </label><br>
    <textarea type="text" name="<%= formName %>" id="<%= pathName %>" cols="30" rows="4"><% if(value) { %><%= value %><% } %></textarea>
</p>