<% 

let { model, title, pathName, formName, asterisk, hasOkButton} = locals; 

if(formName === undefined) {
    formName = pathName;
}

if(asterisk === undefined) {
    asterisk = model.schema.path(pathName).options.hasOwnProperty("required");
}

if(title === undefined) {
    title = model.schema.path(pathName).options.title;
}

const value = model[pathName];

%>

<p>
    <label for="<%= pathName %>"><%= title %>
    
    <% if(asterisk) { %>
        *
    <% } %>
    
    </label><br>
    <input type="text" name="<%= formName %>" id="<%= pathName %>" autocomplete="off"
    
    <% if(value) { %>
        value="<%= value %>"
    <% } %>
    
    />

    <% if(hasOkButton) { %>
        <button type="button" onclick="fetchNeighborhoods()">Ok</button>
            <span id="ok">Ok</span></button>
    <% } %>
</p>