<a href="/animals/add">Añadir Animal</a>
<br />
{{#if animals}}
  <table>
    <tr>
      <th>Nombre</th>
      <th>Foto</th>
      <th>Sexo</th>
      <th>Tipo</th>
      <th>Estatus</th>
      <th>Señas Particulares</th>
      <th>Acción</th>
    </tr>
    {{#each animals}}
      <tr>
        <td>
          {{#each names}}
            {{this}}
          {{/each}}
        </td>
        <td>google.com</td>
        <td>{{sex}}</td>
        <td>{{type}}</td>
        <td>{{status}}</td>
        <td>{{particularSigns}}</td>
        <td><a href="/animals/{{id}}/delete">delete</a></td>
      </tr>
    {{/each}}
  </table>
{{else}}
  No hay animales!
{{/if}}