<a href="/users/add">Add User</a>
<br />
{{#if users}}
  <table>
    <tr>
      <th>Full Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Organization</th>
      <th>Action</th>
    </tr>
    {{#each users}}
      <tr>
        <td>{{fullname}}</td>
        <td>{{phone}}</td>
        <td>{{address}}</td>
        <td>{{organization}}</td>
        <td><a href="/users/{{id}}/delete">delete</a></td>
      </tr>
    {{/each}}
  </table>
{{else}}
  There are no users!
{{/if}}