<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs", {title: "Rescate"}) %>
<body>
<base href="/animals/<%= req.params.animal_id %>/rescue/">
    <div class="card">
        <div class="card__Container">
            <% if(rescue) { %>
                <%- include("../_text_label.ejs", {model: rescue, pathName: "date"}) %>
                <p>
                    <code>Edad de Rescate:</code>
                    <%= rescue.age %>
                </p>
                <%- include("../_text_label.ejs", {model: rescue, pathName: "rescuers"}) %>
                <%- include("../_text_label.ejs", {model: rescue, pathName: "organization"}) %>
                <%- include("../_show_address.ejs", {model: rescue.address}) %>
                
                <div>
                    <button><a href="edit">Editar</a></button>
                    <button><a href="delete">Borrar</a></button>
                </div>
            <% } else { %>
                <button><a href="new">Nuevo Rescate</a></button>
            <% } %>
        </div>
    </div>
</base>
    <%- include("../_footer.ejs") %>
</body>
</html>