<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs", {title: "Rescate"}) %>
<body>
    <h1>Rescate</h1>

    <% const {rescue} = locals; %>
    <% if(rescue) { %>

        <%- include("../_text_label.ejs", {title: "Fecha", value: rescue?.date.toText()}) %>
        
        <%- include("../_show_address.ejs", {address: rescue?.address}) %>
        
        <%- include("../_text_label.ejs", {title: "Rescatistas", value: rescue?.rescuers}) %>

        <%- include("../_text_label.ejs", {title: "Organización", value: rescue?.organization}) %>
        
        <%- include("../_text_label.ejs", {title: "Notas", value: rescue?.notes}) %>

        <% const {req} = locals %>
        <div>
            <a href="edit/"><button>Editar</button></a>
        </div>
    <% } else { %>
        <a href="new/">Añadir Rescate</a>
    <% } %>

</body>
</html>