<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs", {title: "Rescate"}) %>
<body>
    <% const {rescue} = locals; %>
    <% if(rescue) { %>

        <%- include("../_text_label.ejs", {title: "Fecha", value: rescue?.date.toText()}) %>

        <%- include("../_text_label.ejs", {title: "Edad de Rescate", value: rescue?.age}) %>
        
        <%- include("../_show_address.ejs", {address: rescue?.address}) %>
        
        <%- include("../_text_label.ejs", {title: "Rescatistas", value: rescue?.rescuers}) %>

        <%- include("../_text_label.ejs", {title: "Organización", value: rescue?.organization}) %>
        
        <div>
            <a href="/animals/<%= req.params.animal_id %>/rescue/edit">Editar</a>
            <a href="/animals/<%= req.params.animal_id %>/rescue/delete">Borrar</a>
        </div>
    <% } else { %>
        <a href="/animals/<%= req.params.animal_id %>/rescue/new">Nuevo Rescate</a>
    <% } %>

</body>
</html>