<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs", {title: "Citas"}) %>
<body>
<base href="/animals/<%= req.params.animal_id %>/appointments/">
    <button><a href="new">Nueva cita</a></button>

    <% if(appointments.length > 0) { %>

        <table>
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Descripción</th>
                <th class="delete">Acción</th>
            </tr>
            </thead>
            <tbody>
            <% for(const appointment of appointments) { %>
                <tr>
                    <td><%= appointment.date.toText() %></td>
                    <td><%= appointment.description %></td>
                    <td class="delete">
                        <a href="<%= appointment.id %>/delete">Borrar</a>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>

    <% } else { %>

        <p>¡No hay citas!</p>

    <% } %>
</base>
    <%- include("../_footer.ejs") %>
</body>
</html>